/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    background-color: #f6f5f3;
    font-family: Montserrat,'Helvetica Neue',sans-serif;
    font-optical-sizing: auto;
}

ul {
    list-style-type: none;
}

/* HEADER */
header {
    background-color: #ffffff;
    padding: 25px;
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 3.5rem;
    color: #ff9614;
    text-align: center;
    line-height: 2.5rem;
}

/* FOOTER */
footer {
    background-color: #7c69a4;
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

footer h5 {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer .info {
    margin-bottom: 10px;
}

footer .links ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

footer a {
    color: #ffffff;
}