/*** RESET ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** GLOBAL ***/
body {
    background-color: #f6f5f3;
    font-family: Montserrat,'Helvetica Neue',sans-serif;
    font-optical-sizing: auto;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

.intro .ricetta,
.ads .social a,
.description p img {
    box-shadow: 5px 5px 10px #eeeeee, -5px 5px 10px #eeeeee;
}

/*** HEADER ***/
header {
    background-color: #ffffff;
    padding: 25px;
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 3.5rem;
    color: #ff9614;
    text-align: center;
    line-height: 2.5rem;
    text-shadow: 2px 1px 2px #555;
}

/*** MAIN ***/
main {
    padding: 25px;
}

/* INTRO */
.intro {
    margin-bottom: 35px;
}

/* titolo */
.intro .titolo {
    margin-bottom: 2rem;
}

.intro h2 {
    color: #4e3969;
    font-size: 2rem;
}

.intro .titolo span {
    display: none;
}

.intro div.cathegory {
    color: #999999;
    margin-bottom: 0.8rem;
}

/* ricetta */
.ricetta .youtube a img {
    width: 100%;
}

.ricetta .brief {
    background-color: #ffffff;
    padding: 40px;
}

.ricetta .brief h4 {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.ricetta .brief ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.ricetta .brief ul li {
    width: 100%;
}

/* ADS */
.ads {
    margin-bottom: 35px;
}

/* social */
.ads .social span {
    display: none;
}

.ads .social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.ads .social a {
    padding: 0.7rem 1.2rem;
    background-color: #ffffff;
    border-radius: 2rem;
    text-align: center;
}

.ads .social i.fa-facebook {
    color: #1a77f3;
}

.ads .social i.fa-twitter {
    color: #009eff;
}

.ads .social i.fa-instagram {
    color: #de3d78;
}

.ads .social i.fa-pinterest,
.ads .social i.fa-youtube {
    color: #e62222;
}

/* banner */
.ads .banner {
    display: none;
}

.ads .banner img {
    width: 100%;
}

/* DESCRIPTION */
/* titolo */
.description .titolo {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.description hr {
    width: 100px;
    border: 1px solid #f7972e;
    margin-bottom: 1.5rem;
}

/* paragrafo */
.description p {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.description p img {
    max-width: 375px;
    margin: 0 auto;
}

/*** FOOTER ***/
footer {
    background-color: #7c69a4;
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

footer h5 {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer .info {
    margin-bottom: 10px;
}

footer .links ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

footer a {
    color: #ffffff;
}