/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    background-color: #f6f5f3;
    font-family: Montserrat,'Helvetica Neue',sans-serif;
    font-optical-sizing: auto;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

/* HEADER */
header {
    background-color: #ffffff;
    padding: 25px;
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 3.5rem;
    color: #ff9614;
    text-align: center;
    line-height: 2.5rem;
}

/* MAIN */
main {
    padding: 25px;
}

/* titolo */
.titolo {
    margin-bottom: 2rem;
}

h2 {
    color: #4e3969;
    font-size: 2rem;
}

.titolo span {
    display: none;
}

div.cathegory {
    color: #999999;
    margin-bottom: 0.8rem;
}

/* ricetta */
.ricetta .youtube a img {
    width: 100%;
}

.ricetta .brief {
    background-color: #ffffff;
    padding: 40px;
}

.ricetta .brief h3 {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.ricetta .brief ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.ricetta .brief ul li {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #7c69a4;
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

footer h5 {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer .info {
    margin-bottom: 10px;
}

footer .links ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

footer a {
    color: #ffffff;
}